* {
  font-family: monospace;
}
body {
  background-color: #293251;
}
.container {
  display: flex;
  justify-content: space-around;
  background-color: #6b9bbd;
  width: 1000px;
  height: 500px;
  padding: 5px 35px 35px 35px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
}
.app-title {
  display: inline;
  width: 300px;
  height: 50px;
  font-size: 30px;
  margin-bottom: 30px;
  vertical-align: middle;
  text-align: center;
  border-radius: 10px 10px 0 0;
}
#left,
#right {
  width: 250px;
  padding-top: 60px;
  display: block;
}
.left-column,
.right-column {
  height: 100px;
  padding: 0;
}
.left-column p,
.right-column p,
.bottom-row p {
  padding: 10px 10px 10px 10px;
  margin: 0;
  color: #293251;
  text-align: center;
  font-size: 30px;
}
#bottom {
  display: flex;
  margin-top: 30px;
}
.bottom-row {
  border-left: 2px solid rgb(255, 255, 255);
  border-right: 2px solid rgb(255, 255, 255);
  width: 300px;
  height: 100px;
}
.page {
  position: fixed;
  bottom: 0;
  right: 20px;
}
#clock {
  font-size: 20px;
  display: block;
  color: #293251;
  padding: 0px 0px 0px 0px;
}
.app-title h3 {
  text-align: center;
  padding-top: 30px;
  font-weight: bold;
  margin: 0 auto;
  font-size: 1.2em;
  color: #293251;
}
.linebreak {
  color: #fff;
  background-color: #fff;
  margin: 0 auto;
  height: 2px;
  width: 100%;
}
.weather-container {
  width: 300px;
  height: 260px;
  background-color: #6b9bbd;
}
.weather-icon {
  width: 300px;
  height: 128px;
}
.weather-icon img {
  display: block;
  margin: 0 auto;
}
.temperature-value {
  width: 300px;
  height: 60px;
}
.temperature-value p {
  padding: 0;
  margin: 0;
  color: #293251;
  font-size: 50px;
  text-align: center;
  cursor: pointer;
}
.temperature-value p:hover {
  color: #ffffff;
}
#feels-like span,
#visibility span,
#cloudiness span,
#pressure span,
#humidity span,
#wind-speed span,
#wind-gust span {
  font-size: 20px;
}
.temperature-value span {
  color: #293251;
  font-size: 40px;
}
.temperature-description p {
  padding: 10px 10px 0px 10px;
  margin: 0;
  color: #293251;
  text-align: center;
  font-size: 17.5px;
}
.location p {
  color: #293251;
  text-align: center;
  font-size: 17.5px;
}

/* responsive */
@media only screen and (max-width: 1100px) {
  .container {
    justify-content: center;
    width: 700px;
  }
  .linebreak {
    width: 80%;
  }
}
